@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.borderLeft {
  border-left: 20px solid;
  bottom: 75%;
}

.borderTop {
  border-top: 20px solid;
  right: 85%;
}

.borderRight {
  border-right: 20px solid;
  top: 75%;
}

.borderBottom {
  border-bottom: 20px solid;
  left: 85%;
}

.icon {
  @apply transition cursor-pointer hover:scale-125 hover:text-red-700;
}

.small-icon {
  @apply icon text-xl;
}

.chevrons {
  @apply icon transition cursor-pointer text-4xl ease-in-out hover:scale-105;
}

.large-icon {
  @apply icon text-4xl;
}
