@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import "./constants.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  @apply relative min-h-screen;
}

.title {
  @apply pt-5 text-center font-yellowtail text-m leading-none text-black;
}

.subtitle {
  @apply text-center text-m font-bold leading-none text-black;
}

.content {
  @apply relative z-10 flex flex-col items-center;
}

.wave {
  @apply absolute;
}
.waves {
  @apply absolute;
}

/* Home */
.icon-btn {
  @apply transition cursor-pointer rounded-full bg-black p-3 text-s text-white duration-300;
}

.icon-btn:hover {
  @apply bg-highlight;
}

/* ABOUT */

.profile-pic {
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: profile-breathe infinite 4s;
  animation-direction: alternate;
}

@keyframes profile-breathe {
  100% {
    border-radius: 77% 23% 65% 35% / 20% 63% 37% 80%;
  }
}

.skill {
  @apply text-l text-black;
}

.profile-button {
  @apply whitespace-no-wrap transition my-auto w-40 cursor-pointer rounded-md bg-black py-2 px-5 text-center text-s font-bold text-white duration-300;
}

.profile-button:hover {
  @apply bg-highlight;
}

/* PROJECTS */
.project-pic {
  width: 17em;
  height: 17em;
  padding: 0.5rem;
  animation: project-breathe infinite 4s;
  animation-direction: alternate;
  @apply transition object-cover duration-300;
}

.project-pic:hover {
  @apply cursor-pointer opacity-75;
}

.r0 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.r1 {
  border-radius: 72% 28% 81% 19% / 25% 59% 41% 75%;
}

.r2 {
  border-radius: 40% 60% 60% 40% / 38% 49% 51% 62%;
}

@keyframes project-breathe {
  to {
    border-radius: 2em;
  }
}

/* POPUP */

.popup-container {
  @apply fixed top-0 z-30;
}

.popup {
  width: 20em;
  max-height: 100%;
}

.popup-close {
  @apply absolute z-40;
}

/* RESUME */
.position-circle {
  width: 2em;
  height: 2em;
}

.position-edge {
  width: 0.125em;
  min-height: 100%;
}

/* CONTACT */

.contact-icon {
  font-size: var(--s);
  @apply mx-auto;
}

.contact {
  @apply transition flex w-1/3 flex-col items-center justify-center text-s text-white duration-300;
}

.contact:hover {
  @apply cursor-pointer text-highlight;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 900px) {
  .wave {
    width: 900px;
  }
}

@media only screen and (max-width: 600px) {
  #abhiram {
    width: 300px;
  }
  #ghanta {
    width: 280px;
  }
}

/* Landing Animation */

#home-waves path {
  opacity: 0;
  animation: land 0.5s ease-in forwards;
  animation-delay: calc(var(--order) * 200ms);
}

#Home {
  @apply bg-white;
  animation: fade-bg 0.5s ease-in forwards;
  animation-delay: 800ms;
  --delay: 1.25s;
}

@keyframes fade-bg {
  100% {
    @apply bg-beige-800;
  }
}

@keyframes land {
  100% {
    opacity: 1;
  }
}

#layer-1 {
  --order: 1;
}

#layer-2 {
  --order: 2;
}

#layer-3 {
  --order: 3;
}

#layer-4 {
  --order: 4;
}

#layer_5 {
  --order: 5;
}

/* Name Animation */
.letters {
  animation-fill-mode: forwards;
  stroke-opacity: 0;
  stroke: var(--black);
}

#letter-i {
  animation: fade 0.7s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--delay) + 0.5s);
}

@keyframes fade {
  to {
    stroke-opacity: 1;
  }
}

@keyframes sign {
  1% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

/* rest animation */
.home-rest {
  opacity: 0;
  transform: translateY(20%);
  animation: fade-in ease 2s;
  animation-delay: calc(var(--delay) + 1s);
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
