/* MENU CSS */

.wipe {
  @apply relative overflow-x-clip;
}

.wipe::after {
  content: "";
  animation-name: menu-swap;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: forwards;
  @apply absolute top-0 h-full w-full origin-bottom-left scale-x-0 bg-gray-100;
}

@keyframes menu-swap {
  50% {
    @apply scale-x-150;
  }

  100% {
    @apply translate-x-full scale-x-150;
  }
}

/* MENU-ITEMS CSS */

.wipe-underline-animation {
  @apply relative;
}

.wipe-underline-animation::after {
  content: "";
  @apply absolute -bottom-1 left-0 h-[4px] w-full origin-bottom-right scale-x-0 rounded-full  bg-black transition duration-500;
}

.wipe-underline-animation:hover::after {
  @apply origin-bottom-left scale-x-100;
}

.wipe-underline-highlight {
  @apply relative;
}

.wipe-underline-highlight::after {
  content: "";
  @apply absolute -bottom-1 left-0 h-[4px] w-full origin-bottom-right scale-x-100 rounded-full  bg-black transition duration-500;
}
