#signature {
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  @apply stroke-black stroke-[5px];
}

.landing {
  animation-fill-mode: forwards;
  stroke-opacity: 0;
}

#letter-i {
  animation: fade 0.7s ease-in-out 0.5s forwards;
}

@keyframes fade {
  to {
    stroke-opacity: 1;
  }
}

@keyframes sign {
  1% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}
